.auth-div {
  text-align: center;
}

.md-progress--linear.progress-auth {  
  background: #1d4bb7;
}

.md-progress.progress-auth {
  margin-top: 0px;
  margin-bottom: -3px;
}

.progress-auth > .md-progress--linear-active {
  background: #32c331;
}
.md-menu-container{
	margin-top:-10px;
	margin-bottom: 10px;
}
.md-selection-control-group{
	margin-left: -26px;
}
.labelFamily{
 	margin-top: 18px;
}
.avatar{
    width: 70%;
    height: 50%;
}
.camp{
  width: 50px;
  padding: 5px;
  border: 1px solid black;
  background: green;
  color: yellow; 
}
.avatarIcon{
  width: 50px;
  padding-top: 16px;
}