.notauth-div {
  text-align: center;
}

.toolbarMenu {
  border-bottom: 2px solid #e4e4e5;
}

.md-progress--linear.progress-notauth {  
  background: #1d4bb7;
}

.md-progress.progress-notauth {
  margin-top: -4px;
  margin-bottom: 1px;
}

.progress-notauth > .md-progress--linear-active {
  background: #32c331;
}