.notauth-div {
  text-align: center;
}
.md-progress--linear.progress-notauth {  
  background: #1d4bb7;
}

.md-progress.progress-notauth {
  margin-top: -4px;
  margin-bottom: 1px;
}

.progress-notauth > .md-progress--linear-active {
  background: #32c331;
}