
.pages-container {
  width: 1112px;
  margin: 0 auto;
}

.container {
#  background-color: #a0a0a0;
}

.formContainer {
#  background-color: #f0f0f0;
}

.wGrid {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

.formCenterAlign {
  margin: 10px 0 10px 0;
  align-items: center;
  text-align: center;
}

.formVerticalAlign {
  margin: 10px 0 10px 0;
  align-items: center;
  text-align: left;
}

.formRowContent .paragraph {
  margin-bottom: 0;
}

.formHalfDividerLeft {
  flex-grow: 1;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.formHalfDividerRight {
  flex-grow: 1;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.form-not-auth {
  margin: 10px;
  padding: 15px;
}

.formTextField {
  border: 1px;
}

.authAction {
  width: 49%;
}

.authForgotPass {
  margin-left: 5px;
}

.md-cell.elem1-not-auth {
  margin:0;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
}

.elem1-not-auth .md-text-field-inline-indicator {
  margin-right: 3px;
}
