:root {
  --h2-color: #ababb2;
  --p-color: #7f7f7f;
  --focus-color: #79afff;
  --error-color: #d34836;
}

:export {
  wFocus: var(--focus-color);
  wDarkGrey: var(--h2-color);
}

/* Text */
/* --------------------------------------------------------------------- */
.welcome-h2 {
  text-transform: uppercase;
  color: var(--h2-color);
  font-weight: 800;
  font-size: 17px;
  font-family: "Roboto";
}

.welcome-h3 {
  color: var(--p-color);
  font-weight: 400;
  font-size: 17px;
  font-family: "Roboto";
}

.welcome-p, .welcome-a, .welcome-s {
  color: var(--p-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto";
  margin-bottom: 0;
}

.welcome-a {
  text-decoration: underline;
}

.welcome-s {
  margin: 5px 0 5px 0;
}

/* Common */
/* --------------------------------------------------------------------- */
.welcome-input .md-floating-label--active,
.welcome-input .md-text-field-icon--active,
.welcome-input .md-divider--text-field::after,
.welcome-input .md-text--theme-secondary {
  color: var(--focus-color);
}

.welcome-input label:not(.md-floating-label--error):not(.md-floating-label--active) {
  color: var(--p-color);
}

.welcome-input .md-divider--text-field::after {
  height: 1px;
}

.welcome-input .md-floating-label--error,
.welcome-input .md-text-field-icon--error,
.welcome-input .md-text-field-message-container--error,
.welcome-input .md-text-field-message-container--error {
  color: var(--error-color);
}

.welcome-input .md-divider--text-field-active::after {
  background: var(--focus-color);
}

.welcome-input .md-divider--text-field-error,
.welcome-input .md-divider--text-field-error::after {
  background: var(--error-color);
}

/* Text fields */
/* --------------------------------------------------------------------- */
.welcome-text-field {
  border: 1px;
  text-align: left;
}

.welcome-text-field-adjusted label,
.welcome-text-field-adjusted input,
.welcome-text-field-adjusted div.md-text-field-message-container span {
  left: 0;
  text-align: left;
}

/* Select */
/* --------------------------------------------------------------------- */
.welcome-selection div div[aria-checked='true'] {
  color: var(--focus-color);
}

.welcome-select {
  text-align: left;
}

.welcome-select .md-list-item .md-tile-content .md-tile-text--primary {
  text-align: left;
}

.welcome-select .md-list-item .md-pointer--hover[id$="Active"] .md-tile-text--primary,
.welcome-select .md-list-item .md-pointer--hover:hover .md-tile-text--primary {
  color: var(--focus-color);
}

/* Date picker  */
/* --------------------------------------------------------------------- */
.welcome-date-picker .md-picker--date .md-picker-header,
.welcome-date-picker .md-calendar-date--btn::after,
.welcome-date-picker .md-divider::after {
  background: var(--focus-color);
}

.welcome-date-picker .md-text--theme-primary,
.welcome-date-picker .md-tile-text--primary {
  color: var(--focus-color);
}

.welcome-date-picker .md-calendar-controls .md-title,
.welcome-date-picker .md-calendar-controls .md-btn--icon {
  color: var(--p-color);
}

.welcome-date-picker .md-dialog-footer .md-btn--color-primary-active {
  background: none;
}
