.welcome-h2 {
  text-transform: uppercase;
  color: #7f7f7f;
  font-weight: 800;
  font-size: 17px;
  font-family: "Roboto";
}

.welcome-h3 {
  color: #ababb2;
  font-weight: 400;
  font-size: 17px;
  font-family: "Roboto";
}

.welcome-p {
  color: #ababb2;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto";
}
